{% extends 'sidebarLayout.html.twig' %}
{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-2 text-right">
                    <div>
                        <h4>
                            {{ article.date|date("d") }}
                            <br/>
                            {{ article.date|date("F Y") }}
                        </h4>
                    </div>
                </div>
                <div class="col-10">
                    {% include 'article/card.html.twig' %}
                    <a class="btn btn-primary" target="_blank" href="articlePdf.php?id={{ article.id }}">Get PDF Article</a>
                </div>
            </div>
        </div>

        {% include'article/commentForm.html.twig' %}
        {% include'article/previewComment.html.twig' %}
        <div id="articleComments" class="col-12">
            {% if comments|length > 0 %}
                <div class="row">
                    <div class="col-12 mt-5 mb-2">
                        <h4>Cele mai noi comentarii</h4>
                    </div>
                    {% for comment in comments %}
                        {% include 'article/cardComment.html.twig' %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <button id="loadMoreComments" class="btn btn-primary">Load more</button>
    </div>
    <div class="row">
        <div class="col-12 mt-5 mb-2">
            <h3>Stiri similare</h3>
        </div>
        {% for article in article.getCategory().getArticles() %}
            {% include 'article/cardSample.html.twig' %}
        {% endfor %}
    </div>
    <script>
         $(document).on('click','#previw', function() {
            var commentText = $('#{{ article.id }}').val();
            $('#previewComment').removeClass('d-none');
            $('#commentShow').html(commentText);
            $('#errorText').addClass('d-none');
        });

        $('#form').submit(function(e) {
            var commentText = $('#{{ article.id }}').val();
            if ($.trim (commentText) === "" || $.trim (commentText).length < 3 || $.trim (commentText).length > 250) {
                e.preventDefault();
                $("#errorText").removeClass("d-none");
            }
                else {
                        $("#errorText").addClass("d-none");
                }
        });


         comments=0;
         $('#loadMoreComments').on('click', function (){
             comments=comments+1;
             $.get('loadMoreComments.php?page='+comments+'&id={{ article.id }}',function (data){
                 $('#articleComments').append(data);
             });
         });
    </script>
{% endblock %}

